
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <title>home</title>
</head>

<body>
   

  
    <form action="complain" method="post" >
        {% csrf_token %}
        <input type="text" name="complaint" class="text_area">
        <button type="submit" class="btn">Submit</button>
    </form>

</body>
</html>