{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   
    <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>lists</title>
</head>
<body>

 <br>
 <br>

 <div class="card mb-4">

    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <i class="fas fa-table me-1"></i>कुल likit उजुरी
            </div>
            <div class="dropdown" style="margin-right: 200px;">
                <button onclick="myFunction()" class="dropbtn">Filter</button>
                <div id="myDropdown" class="dropdown-content">
                    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                    <a href="">Ministry</a>
                    <a href="">Problem</a>
                    <a href="">Status</a>
                </div>
            </div>
        </div>
    </div>
    

   

    <div class="card-body">
        <table id="datatablesSimple">

            <tr>

                <th>उजुरी समय</th>
                <th>प्रयोगकर्ता</th>
                <th>गुनासो</th>
                <th>स्थिति</th>                                    
                <th>समस्या</th>
                <th>मन्त्रालय</th>
            </tr>
            {% for c in complains %}
            <tr>

                <td>{{ c.complaint_time }}</td>
                <td>{{ c.user }}</td>
                <td>{{ c.complaint }}</td>
                <td style="color:red">Unsolved</td>
                <td>tobedetermined</td>
                <td>{{c.predicted_class}}</td>
            </tr>
            {% endfor %}
        </table>
        </table>
    </div>
</div>

<br>


<div class="card mb-4">

    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <i class="fas fa-table me-1"></i>कुल audio उजुरी
            </div>
            <div class="dropdown" style="margin-right: 200px;">
                <button onclick="myFunction()" class="dropbtn">Filter</button>
                <div id="myDropdown" class="dropdown-content">
                    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                    <a href="">Ministry</a>
                    <a href="">Problem</a>
                    <a href="">Status</a>
                </div>
            </div>
        </div>
    </div>
    

   

    <div class="card-body">
        <table id="datatablesSimple">

            <tr>

                <th>उजुरी समय</th>
                <th>प्रयोगकर्ता</th>
                <th>गुनासो</th>
                <th>स्थिति</th>                                    
                <th>समस्या</th>
                <th>मन्त्रालय</th>
            </tr>
            {% for r in recordings %}
            <tr>
                <th>{{r.title}}</th>
                <th><audio controls>
                    <source src="{{ recording.audio_file.url }}" type="audio/wav">
                    <!-- Add additional source tags for other audio formats, if needed -->
                    Your browser does not support the audio element.
                </audio></th>
                <th>{{r.converted_text}}</th>
            </tr>
               
            {% endfor %}
        </table>
        </table>
    </div>
</div>

        
</body>
</html>
