{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>lists</title>
</head>
<body>

 <br>
 <br>
 <h2>Text Complaints</h2>
<table>
    <tr>
      
        <th>Complaint Time</th>
        <th>User</th>
        <th>Complaint</th>
    </tr>
    {% for c in complains %}
    <tr>
       
        <td>{{ c.complaint_time }}</td>
        <td>{{ c.user }}</td>
        <td>{{ c.complaint }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<h2>Audio Complaints</h2>
<table>
    <tr>
        <th>Title</th>
        <th>Audio File</th>
    </tr>
    
        
            {% for r in recordings %}
            <tr>
                <th>{{r.title}}</th>
                <th><audio controls>
                    <source src="{{ recording.audio_file.url }}" type="audio/wav">
                    <!-- Add additional source tags for other audio formats, if needed -->
                    Your browser does not support the audio element.
                </audio></th>
            </tr>
               
            {% endfor %}
    
        </table>
</body>
</html>
